version: '1.5'
services:

  server:
    image: akashmondal0/snaapio-backend:1.7-beta
    ports:
      - "5000:5000"
    networks:
      - monitoring
    env_file:
      - .env
      
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      
networks:
  monitoring:
    driver: bridge
