version: '1.0'
services:
  server:
    image: akashmondal0/skylight-backend:dev
    # restart: always
    ports:
      - 5000:5000
    environment:
    # update the environment variables
      PG_URL: "postgresql://postgres:password@localhost:5432/postgres"
      REDIS_URL: "redis://localhost:6379",
      JWT_SECRET: "c74e6cd4ce5dc2b67c4c0512c9354445"